<div id="footer" class="row">
    <div class="col-3" style="text-align: center;">
        <p>@Html.ActionLink("Home!", "Index", "Home", new {})</p>
    </div>
    <div class="col-3" style="text-align: center;">
        @Html.ActionLink("Gamers!", "Index", "Gamers")
    </div>
    <div class="col-3" style="text-align: center;">
        <p>@Html.ActionLink("Video Games!", "Index", "VideoGames")</p>
    </div>
    <div class="col-3" style="text-align: center;">
        @Html.ActionLink("Tags!", "Index", "Tags")
    </div>
</div>